@font-face {
    font-family: "robotoregular";
    src:
      url("./Font/roboto-regular-webfont.woff2") format("woff2"),
      url("./Font/roboto-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
  
* {
    box-sizing: border-box;
    font-family: "robotoregular", "Lucida Sans", "Lucida Sans Regular",
      "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
    background-color: darkcyan;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    margin: auto;
}

.page-title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 4px solid skyblue;
}

#page-title {
    font-size: 42px;
    font-weight: bold;
    font-style: italic;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#search,
#submit-search {
    font-size: 24px;
}

.error-container {
    display: none;
    justify-content: center;
    margin: auto;
    width: 40%;
    padding: 2.5px;
    font-size: 18px;
    color: whitesmoke;
    background-color: red;
    border-radius: 5px;
}

.weather-info-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: fit-content;
    padding: 20px;
    margin: 25px auto;
    border: 4px solid skyblue;
    border-radius: 20px;
    background-color: whitesmoke;
}

#location {
    font-size: 30px;
    font-weight: bold;
}

.current-weather-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5px;
}

.conditions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}